<div class="body">
    <div id="page">
        <div id="logo">
                <img src="../../../assets/image/favicon.ico" alt="The Analog Specialists">
        </div>
    
        <!-- <div id="navigation"> -->
            <ul class="ul">
                <li class="li"><a href="#" class="a on">Home</a></li>
                <li class="li"><a href="#" class="a on">For Sale</a></li>
                <li class="li"><a href="#" class="a on">Repairs</a></li>
                <li class="li"><a href="#" class="a on">About</a></li>
                <li class="li"><a href="#" class="a on">Contacts</a></li>
            </ul>
        <!-- </div> -->

        <p class="p">
            <img src="../../../assets/image/dot.png" width="50px" height="50px" alt="Fender Rhodes, Hohner Clavinet">
        </p>
        <p class="p">
            We specialize in the sales and repair of classic keyboards. In particular the Fender Rhodes, 
            Wurlitzer EP200 and Hohner Clavient.
        </p>
    </div>
</div>
<ol class="ol">
    <li>Life</li>
    <li>Nature</li>
    <li>Love</li>
    <li>Time and Eternity</li>
    <li>The single Hound</li>
    <li>Life</li>
</ol>

<ul class="ul1">
    <li class="li1">Life</li>
    <li class="li1">Nature</li>
    <li class="li1">Love</li>
    <li class="li1">Time and Eternity</li>
    <li class="li1">The single Hound</li>
    <li class="li1">Life</li>
</ul>
<div class="div-body">
    <h1>First Edition Auctions</h1>
    <table class="table-body">
        <tr class="tr-head">
            <th class="th">Author</th>
            <th class="th">Title</th>
            <th class="th money">Reserve Price</th>
            <th class="th money">Current BID</th>
        </tr>
        <tr>
            <td class="td">E.E. Cummings</td>
            <td class="td">Tulips & Chimneys</td>
            <td class="td money">$2,000.00</td>
            <td class="td money">$2,624.60</td>
        </tr>
        <tr class="even">
            <td class="td">E.E. Cummings</td>
            <td class="td">Tulips & Chimneys</td>
            <td class="td money">$2,000.00</td>
            <td class="td money">$2,624.60</td>
        </tr>
        <tr>
            <td class="td">E.E. Cummings</td>
            <td class="td">Tulips & Chimneys</td>
            <td class="td money">$2,000.00</td>
            <td class="td money">$2,624.60</td>
        </tr>
        <tr class="even">
            <td class="td">E.E. Cummings</td>
            <td class="td">Tulips & Chimneys</td>
            <td class="td money">$2,000.00</td>
            <td class="td money">$2,624.60</td>
        </tr>
        <tr>
            <td class="td">E.E. Cummings</td>
            <td class="td">Tulips & Chimneys</td>
            <td class="td money">$2,000.00</td>
            <td class="td money">$2,624.60</td>
        </tr>
    </table>
</div>

<h3>Table with empty cells Hidden</h3>
<div>
    <table class="table2">
        <tr>
            <td class="td2">1</td>
            <td class="td2">2</td>
        </tr>
        <tr>
            <td class="td2">3</td>
            <td class="td2"></td>
        </tr>
    </table>
    
    <h3>Table with empty cells Show</h3>
    <table class="table3">
        <tr>
            <td class="td2">1</td>
            <td class="td2">2</td>
        </tr>
        <tr>
            <td class="td2">3</td>
            <td class="td2"></td>
        </tr>
    </table>
</div>
<h3>Table with border spacing</h3>
<table class="four">
    <tr>
        <td class="td3">1</td>
        <td class="td3">2</td>
    </tr>
    <tr>
        <td class="td3">3</td>
        <td class="td3">4</td>
    </tr>
</table>
<h3>Table with border without spacing</h3>
<table class="five">
    <tr>
        <td class="td3">1</td>
        <td class="td3">2</td>
    </tr>
    <tr>
        <td class="td3">3</td>
        <td class="td3">4</td>
    </tr>
</table>
<h3>List with Outside</h3>
<ol class="list-outside">
    <li>List Item 2 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 3 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 4 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 5 with lots of data in 
        single row to check list with outside.....
    </li>
</ol>
<h3>List with Inside</h3>
<ol class="list-inside">
    <li>List Item 2 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 3 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 4 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 5 with lots of data in 
        single row to check list with outside.....
    </li>
</ol>
<h3>List with ShortHand circle</h3>
<ol class="list-shorthand">
    <li>List Item 2 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 3 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 4 with lots of data in 
        single row to check list with outside.....
    </li>
    <li>List Item 5 with lots of data in 
        single row to check list with outside.....
    </li>
</ol>

<h1>Styling Form</h1>

<div>
    <input type="text" id="email" class="input">
    <input type="text" id="twitter" class="input">
    <input type="text" id="web" class="input">
    <input type="submit" id="submit" value="Register">
</div>
<div>
    <fieldset id="fieldset">
        <legend id="legend">Newsletter</legend>
        Name:<input type="text" id="name" class="input">
        Email:<input type="text" id="email" class="input">
        <input type="submit" id="subscribe">
    </fieldset>
</div>
<h1>Form Controls with Alignment</h1>
<div class="div">
    <label class="title">Name:</label> <input type="text" id="txtName" class="input-form">
</div>
<div class="div">
    <label class="title">Email:</label> <input type="text" id="txtEmail" class="input-form">
</div>
<div class="div">
    <span class="title">Gender:</span> 
    <input type="radio" id="male" name="Gender" value="male"> <label for="male">Male</label>
    <input type="radio" id="female" name="Gender" value="female"> <label for="female">Female</label>
</div>
<div class="div btn-submit">
    <input type="submit" id="subscribe-form">
</div>
    
<!-- </div> -->

<div>
    <ol>
        <li><a href="#" class="cursor1">Home</a></li>
        <li><a href="#" class="cursor2">Contact</a></li>
        <li><a href="#" class="cursor3">Register</a></li>
        <li><a href="#" class="cursor4">Purchase</a></li>
    </ol>
    
</div>
<h1>Heading for Check in 
    
</h1>