<h1>Home</h1>
<div id="top">
    Hello from Top
</div>
<a href="#bottom">Go to Bottom</a>
<fieldset style="width: 200px;">
    <legend>Enter your Name</legend>
    <input type="text" name="name" id="name" [(name)]="name">
    <div   style="margin: 10px 52px 2px;">
        <input type="button" value="Login" (click)="login()" >
    </div>
</fieldset>
<em>Emphasis</em>
<blockquote cite="vimal.com">
    <p>thisa is a paragraph for check out the Blockquote and many more.</p>
</blockquote>
<p>
    This is a normal <q>Live happy Live young</q> paragraph for difference.
</p>
<p>Hi, this is from <abbr title="Vimal Raj">Er.</abbr> VR for ABBR Tag</p>
<p>
Hello from <cite>Vishal Raj</cite> this is for Cite tag use
</p>
<address>
    <p>
        Hi From ABC <a href="mailto: abc@gmail.com">
            abc@gmail.com
        </a> Use of Address Tag.
    </p>
</address>
<p>
    Here we are using <ins>Ins Tag</ins> for showing.
</p>
<p>
    Here we are using <del>Del Tag</del> for showing.
</p>
<p>
    Here we are using <s>S Tag</s> for showing. Strike
</p>
<dl>
    <dt>Definition List</dt>
    <dd>Defintion list is use for writing the definition of any content</dd>
    <dt>Computer</dt>
    <dd>Computer is an electronic machine, works as per as Input</dd>
</dl>
<h1>Home</h1>
<em>Emphasis</em>
<blockquote cite="vimal.com">
    <p>thisa is a paragraph for check out the Blockquote and many more.</p>
</blockquote>
<p>
    This is a normal <q>Live happy Live young</q> paragraph for difference.
</p>
<p>Hi, this is from <abbr title="Vimal Raj">Er.</abbr> VR for ABBR Tag</p>
<p>
Hello from <cite>Vishal Raj</cite> this is for Cite tag use
</p>
<address>
    <p>
        Hi From ABC <a href="mailto: abc@gmail.com">
            abc@gmail.com
        </a> Use of Address Tag.
    </p>
</address>
<p>
    Here we are using <ins>Ins Tag</ins> for showing.
</p>
<p>
    Here we are using <del>Del Tag</del> for showing.
</p>
<p>
    Here we are using <s>S Tag</s> for showing. Strike
</p>
<dl>
    <dt>Definition List</dt>
    <dd>Defintion list is use for writing the definition of any content</dd>
    <dt>Computer</dt>
    <dd>Computer is an electronic machine, works as per as Input</dd>
</dl>
<div id="bottom">Here is Bottom</div>
<a href="#top">Go to Top</a>

<div>
    <img src="../../../assets/image/favicon.ico">
    <p>This is a fevicon Image or Icon</p>
    <hr>

    <p>
        <img src="../../../assets/image/favicon.ico">
        This is the Image inside of P Tag
    </p>
    <hr>
    <p>
        This is the image Inside of P tag
        <img src="../../../assets/image/favicon.ico">
        Image is also available in P Tag.
    </p>
</div>

<div>
<p>
    <img src="../../../assets/image/favicon.ico" align="right"
    width="50px" height="50px" alt="Comming soon">
Hi here is the example of Image with alignment.<br>
There is a lot of text with this image is always show on rightsdfsf<br>
fdgaaaaaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbcccccccccccddddddddddeeeeeeeee
</p>
</div>
<div>
<p>
    <img src="../../../assets/image/favicon.ico" align="left"
    width="50px" height="50px" alt="Comming soon">
Hi here is the example of Image with alignment.<br>
There is a lot of text with this image is always show on rightsdfsf<br>
fdgaaaaaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbcccccccccccddddddddddeeeeeeeee
</p>
</div>

<figure>
    <img src="../../../assets/image/favicon.ico" alt="Not Available"
    height="70px" width="70px">
    <figcaption>
        <p>
        This is the figure caption used to show in Image in HTML 5
        for standerd output.
        </p>
    </figcaption>
</figure>
<h1>
    <img src="../../../assets/image/favicon.ico" height="100px" width="100px">
</h1>
<table border="1">
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Marks</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ankit</td>
        <td>89</td>
    </tr>
    <tr>
            <!-- <td>1</td> -->
            <td colspan="2">Ankit No Id</td>
            <td>39</td>
        </tr>
        <tr>
            <td>3</td>
            <td rowspan="2">Ankit Raj</td>
            <td>45</td>
        </tr>
        <tr>
            <td>4</td>
            <!-- <td>Ankit</td> -->
            <td>69</td>
        </tr>  
</table>

<table border="1" cellspacing="1" cellpadding="20">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Sub</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ankit</td>
            <td>Che</td>
            <td>15</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sachin</td>
            <td>Math</td>
            <td>75</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Vishal</td>
            <td>C#</td>
            <td>90</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Nirmal</td>
            <td>BIO</td>
            <td>73</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Nirmal</td>
            <td>HND</td>
            <td>72</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Vimal</td>
            <td>SNK</td>
            <td>54</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>Total</td>
            <td>6</td>
            <td>Good</td>
            <td>Best</td>
        </tr>
        </tfoot>
</table>


<h1>All Elements of Form </h1>
<form>
    <label for="txtName">Name: </label>
    <input type="text" id="txtName" name="Name"> 
    <br>
    <label>Email: </label>
    <input type="email" id="txtEmail" name="Email"> 
    <br>
    <label>Age: &nbsp;&nbsp;
        <input type="number" id="txtAge" name="Age">
    </label>
    <br>
    Gender:
    <input type="radio" id="radioMale" name="Gender" value="Male"> <label for="radioMale">Male</label>
    <input type="radio" id="radioFemale" name="Gender" value="Female"> <label for="radioFemale">Female</label>
    <br>
    Hobby:
    <input type="checkbox" id="ckbCricket" name="Hobby" value="Cricket"><label for="ckbCricket">Cricket</label>
    <input type="checkbox" id="ckbFootBall" name="Hobby" value="FootBall"><label for="ckbFootBall">FootBall</label>
    <input type="checkbox" id="ckbTenish" name="Hobby" value="Tenish"><label for="ckbTenish">Tenish</label>
    <br>
    State: &nbsp;&nbsp;
    <select id="txtState" name="State">
        <option value="Bihar">Bihar</option>
        <option value="New Delhi">New Delhi</option>
        <option value="UK">UK</option>
        <option value="MP">MP</option>
        <option value="UP">UP</option>
    </select>
    <br>
    Prefered Location:
    <select id="txtPreferedLocation" name="PreferedLocation" multiple="multiple" size="4">
        <option value="Noida">Noida</option>
        <option value="Gurugram">Gurugram</option>
        <option value="Lucknow">Lucknow</option>
        <option value="Patna">Patna</option>
        <option value="Cyber City">Cyber City</option>
        <option value="Bangaluru">Bangaluru</option>
        <option value="Pune">Pune</option>
        <option value="GoreGawn">GoreGawn</option>
    </select>
    <br>
    Upload Image:
    <input type="file" id="txtImage" name="Image">
    <br>
    <input type="submit" value="Save"> &nbsp;&nbsp;
    <input type="reset" value="Clear">
</form>
<h3>Input type Image</h3>
<form>
Image Button:
<input type="image" src="../../../assets/image/favicon.ico" height="100px" width="100px">
<br>
Button Button:
<button type="button"> <img src="../../../assets/image/favicon.ico" height="10px" 
    width="10px">
Image
</button>
<input type="hidden" id="hdnName" name="hdnN" value="Vimal Raj">
</form>

<h3>Fieldset Example for grouping Simillar type of Form Control</h3>
<form>
    <fieldset style="width: 255px;">
        <legend>Communication</legend>
        <label>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" id="txtEmail" name="Email"> </label>
        <br>
        <label>Mobile: &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="tel" id="txtMob" name="Mobile"></label>
        <br>
        <label>Telephone:
        <input type="tel" id="txtTelephone" name="Telephone"></label>
    </fieldset>
</form>

<h3>New HTML 5 input types used in Form</h3>
<form>
    <fieldset style="width: 333px;">
        <legend>Your Details:</legend>
        <label>
            Name: &nbsp;&nbsp;&nbsp; <input type="text" id="HName" name="name">
        </label>
        <br>
        <label>
            Email:&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" id="HEmail" name="email">
        </label>
        <br>
        <label>
            DOB:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="date" id="HDate" name="dob">
        </label>
        <br>
        <label>
            Website:&nbsp;&nbsp;<input type="url" id="Hurl" name="url">
        </label>
        <br>
    </fieldset>
    <fieldset style="width: 333px;">
        <legend>Your Review</legend>
        <p>
            <label> How did you hear about us? </label>
            <select id="hHear">
                <option value="Google">Google</option>
                <option value="Friend">Friend</option>
                <option value="Ads">Ads</option>
                <option value="Student">Student</option>
                <option value="TVorRadio">TV/Radio</option>
            </select>
        </p>
        <p>
            Would you visit again?
            <input type="radio" id="hYes" name="hVisit"> <label for="hYes">Yes</label>
            <input type="radio" id="hNo" name="hVisit"> <label for="hNo">No</label>
            <input type="radio" id="hMayBe" name="hVisit"> <label for="hMayBe">Maybe</label>
        </p>
        <p>
            <label>Comments:</label>
            <textarea id="hComments" name="comments" cols="30" rows="3"></textarea>
        </p>
        <input type="checkbox" id="ckbEupdate" name="eUpdate"> 
        <label for="ckbEupdate">Sign me up for email updates</label>
        <br>
        <label> 
            Search Address: <input type="search" id="txtSearch" name="search" placeholder="Search Address">
        </label>
        <br>
        <input type="submit" value="Submit Review">
        &nbsp;&nbsp;&nbsp;
        <input type="reset" value="Clear">
    </fieldset>
</form>

<h3>Iframe Use</h3>
<iframe width="300px" height="300px" src="http://localhost:4200/"
seamless="seamless" frameborder="0"></iframe>
<br>
<div>
    <video src="../../../assets/video/video1.MP4"
        poster="../../../assets/image/favicon.ico"
        width="400px" height="300px"
        
        loop="loop"
        controls
        preload="none"
    >
    <p>A video of a puppy playing in the snow.</p>
    <!-- autoplay="autoplay" For AutoPlay -->
    </video>
    <audio src="../../../assets/audio/audio.mp3"
        loop="loop"
        controls
        preload="none">
        <p>
            This Audio feature in not supported in your browser.
        </p>
    </audio>
</div>
<div>
<video width="400px" height="300px" loop controls preload="none"
    poster="../../../assets/image/favicon.ico">
    <source src="../../../assets/video/video1.MP4">
    <source src="../../../assets/video/video1.MP4"
</video>
</div>