<div class="wholePageCSS">
    <h1>From Garden to Plate</h1>
    <p>
        A <em>potager</em> is a french team for an ommamental.
        dsgfdgdfghfg cfgffffffffffffffff hhhhhhhhhhh
        hhhhhhhhhhhhhhh dddddddddd eeeeeeeeee ffffffffff gggggggg 
        hhhhhhhhhhhhh ttttttttttttt aaaaaaaaaaaa bbbbbbbbb cccccccc
    </p>
    <h2>What to Plant</h2>
    <p>
        Plants are some thing which are very required for us.dfdddddddddddddddddddddddd  aaa
        aaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbbb ccccccccccccc ddddddddddddd eeeeeeeeeeee
    </p>
</div>
<div id="specialDiv">
Hello from Vimal Raj
</div>
<ol>
    <li><a routerLink="/"> Home </a></li>
    <li><a routerLink="/cssExample">CSS Example</a></li>
    <li><a routerLink="/reactiveForm">Reactive Form</a></li>
    <li><b>Bold TAG IN List</b> </li>
</ol>

<p>Vimal Raj</p>
<p><a routerLink="/reactiveForm">A Tag inside P tag</a></p>
<p><b><a routerLink="/reactiveForm">A Tag inside P tag</a></b></p>
<h1>Heading Tag</h1>
<p>This is P Tag No 1</p>
<p>This is P Tag No 2</p>
<h1>Heading Tag</h1>
<b>Bold Tag</b>
<p>This is P Tag</p>
<h3>Heading tag 3</h3>
<p>This is the P tag no 1.</p>
<p>This is the P tag no 2.</p>

<h3>Heading 3</h3>
<b>This is bold text</b>
<p>This is p Tag</p>
<i class="note">Italic with note class but not added bec of u.note only apply to u tag</i>
<u class="note">Note with p.nate class Added</u>