<h1>Text Indent Example</h1>
<p class="text-indent">
    The Breed, which is believed to have originated in Frances, has been bred for centuries for centuries
    to herd and to protect sheep. The breed was used by the French Army as senteris, messenger and to 
    search for wounded to the point of extinction. Currently the population of briads is First World War
    almost to the point of extinction. Currently is very slowly recovering. Charlemagne, Napoleon, Thomas 
    Jeffreson and Lafayette all owned.
</p>
<h3>Drop and Tax Shadow</h3>
<p class="one">The briard is known as a heart wrapped in further.</p>
<p class="two">The briard is known as a heart wrapped in further.</p>
<p class="three">The briard is known as a heart wrapped in further.</p>
<p class="four">The briard is known as a heart wrapped in further.</p>
<p class="five">The briard is known as a heart wrapped in further.</p>
<p class="intro">
    The Breed, which is believed to have originated in Frances, has been bred for centuries for centuries
    to herd and to protect sheep. The breed was used by the French Army as senteris, messenger and to 
    search for wounded to the point of extinction. Currently the population of briads is First World War
    almost to the point of extinction. Currently is very slowly recovering. Charlemagne, Napoleon, Thomas 
    Jeffreson and Lafayette all owned.
</p>
<div> <a href="/">GoTo Home</a> </div>
<div> <a href="/">GoTo Home</a> </div>
<div> <a href="/">GoTo Home</a> </div>
<div> <a href="/">GoTo Home</a> </div>
<div> <a href="/">GoTo Home</a> </div>
<div> <a href="/">GoTo Home</a> </div>
<div> <a href="/">GoTo Home</a> </div>
<div>
    <input type="text" placeholder="Enter email address...">
    <input type="submit" value="Submit">
</div>
<div>
    <div> <h1>Briards</h1> </div>
    <div><h2>A Heart wrapped in fur</h2></div>
    <div>
        <p class="intro">
            The <a class="bread" href="/">briards</a>
            or berger de brie is a large of dog traditionally used as A HARDER AND guardian of sheep.
        </p>
        <div><h3>Breed History</h3></div>
        <div><p>
            The briard which is believed to have originated in france. has been bred for centuries to
            herd and to protect sheep 
        </p></div>
        <div><p class="credits">By Ivy Duckett</p></div>
    </div>
</div>

<h3>Border Example</h3>
<div class="simple">
    <p class="simple-simple">
        The Moog company pioneeroid the commercial manufacture of modular voltage 
        controlled analog synthesizer
        systems in the early 1995s.
    </p>
</div>
<table border="1">
    <tr>
        <th>Photo</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>
            <img src="../../../assets/image/favicon.ico" height="40px" height="40px">
        </td>
        <td class="description">
            This is the most importent pic of the year and very valuable for us.
            This is the most importent pic of the year and very valuable for us.
            This is the most importent pic of the year and very valuable for us.
        </td>
        <td>130.00&#8377;</td>
    </tr>
    <tr>
        <td>
            <img src="../../../favicon.ico" height="40px" height="40px">
        </td>
        <td>
            This is the most importent pic of the year and very valuable for us.
            This is the most importent pic of the year and very valuable for us.
            This is the most importent pic of the year and very valuable for us.
        </td>
        <td>130.00&#8377;</td>
    </tr>
    <tr>
        <td>
            <img src="../../../favicon.ico" height="40px" height="40px">
        </td>
        <td>
            This is the most importent pic of the year and very valuable for us.
            This is the most importent pic of the year and very valuable for us.
        </td>
        <td>130.00&#8377;</td>
        </tr>
</table>
<h2 class="height">Fender Mustang</h2>
<p class="height">
    The Fender Mustang was introdused in 1964 as the basis of a mazor redesign of Fenders...
    The Fender Mustang was introdused in 1964 as the basis of a mazor redesign of Fenders...
    The Fender Mustang was introdused in 1964 as the basis of a mazor redesign of Fenders...
</p>
<h2 class="height">Fender Stratocaster</h2>
<p class="height">
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
</p>

<h2 class="height">Fender Stratocaster</h2>
<p class="min-max">
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
</p>

<h3>OverFlow Example</h3>
<h2>Fender Stratocaster</h2>
<p class="over-one">
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
</p>
<h2>Fender Stratocaster</h2>
<p class="over-two" style="width: 300px; height: 50px;">
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
    The Fender Stratocaster or 'Strat' is the one of the most popular
</p>
<h1>Border Example</h1>
<p class="border-one">Hohner's is the Clavient is essentialy an electric clavichord.</p>
<p class="border-two">Hohner's is the Clavient is essentialy an electric clavichord.</p>
<p class="border-three">Hohner's is the Clavient is essentialy an electric clavichord.</p>
<p class="border-four">Hohner's is the Clavient is essentialy an electric clavichord.</p>

<h1>Centering Content</h1>

<p class="center-one">Hohner's is the Clavient is essentialy an electric clavichord.</p>
<p class="right-one">Hohner's is the Clavient is essentialy an electric clavichord.</p>
<p class="center-two">Hohner's is the Clavient is essentialy an electric clavichord.</p>
<!-- <p class="border-four">Hohner's is the Clavient is essentialy an electric clavichord.</p> -->

<h1>Display=> Inline/Block </h1>
<ol>
    <li class="inline">India</li>
    <li class="inline">New Delhi</li>
    <li class="inline not-visible">Bihar</li>
    <li class="inline">Noida</li>
    <li class="inline">Gurugram</li>
</ol>
<p style="color: red;" class="color" id="colorP">Color</p>

<div class="border-image">
<!-- <img src="../../../assets/image/dot.png"> -->
Div with Border Image
</div>

<p id="borderimg1">
    Border Image 1
</p>
<p id="borderimg2">
    Border Image 2
</p>
<p id="borderimg3">
    Border Image 3
</p>

<p class="box-shadows1">
    Box Shadow 1
</p>
<p class="box-shadows2">
    Box Shadow 2
</p>
<p class="box-shadows3">
    Box Shadow 3
</p>
<p class="box-shadows4">
    Box Shadow 4
</p>
<p class="box-shadows5">
    Box Shadow 5
</p>

<p class="box-rounded">
Pet sounds features a number of unconventional instruments such as bicycle bells, buzzing
</p>

<p class="box-radius1">
    Box Radius 1
</p>
<p class="box-radius2">
    Box Radius 2
</p>
<p class="box-radius3">
    Box Radius 3
</p>
<p class="box-radius4">
    Box Radius 4 With Margin Auto=> Center
</p>

